{{ define "main" }}
<p><a href="/">&larr; Back</a></p>
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ if gt (len .Pages) 0 }}
<ul>
{{ range .Pages }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>
{{ end }}
<hr>
<p>This site is SSH-first. Connect to browse:</p>
<pre><code>
{{- $path := strings.TrimPrefix "/" .RelPermalink -}}
{{- $path := strings.TrimSuffix "/" $path -}}
{{- if or (eq $path "") (eq .RelPermalink "/") -}}
ssh {{ .Site.Params.sshUser }}@{{ .Site.Params.domain }}
{{- else -}}
ssh {{ replace $path "/" "." }}@{{ .Site.Params.domain }}
{{- end -}}
</code></pre>
{{ end }}
